/* BASIC STYLING */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
 }
 
 html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
 }

/* ALLROUND STYLING */
 

 .container {
    position: relative;
    top: 50%;
    left: 50%;
 }


 .cube {
    width: 100px;
    height: 100px;
    position: absolute;
    transform-style: preserve-3d;
 }

 .cube input {
    position: absolute;
    top: -1000em;
 }

 /* .first-row .cube input {
    position: absolute;
    top: -3em;
 } */
 
 .cube label {
    width: 100px;
    height: 100px;
    position: absolute;
 }

 .cube input:checked ~ label {
    background-color: red;
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.6);
}
 
/* 3D styling cubes */

 .cube label.top {
    transform: rotateX(90deg);
    margin-top: -50px;
 }
 
 .cube label.right {
    transform: rotateY(90deg); 
    margin-left: 50px;
 }
 
 .cube label.bottom {
   transform: rotateX(90deg);
   margin-top: 50px;
 }
 
 .cube label.left {
    transform: rotateY(-90deg);
    margin-left: -50px;
 }
 
 .cube label.front {
    transform: translateZ(50px); 
 }
 
 .cube label.back {
    transform: translateZ(-50px); 
 }


.pos1 {
    transform: rotateX(-20deg) rotateY(-45deg);
 }

.pos2 {
    transform: rotateX(-20deg) rotateY(-45deg) translateZ(100px);
 }

.pos3 {
    transform: rotateX(-20deg) rotateY(-45deg) translateZ(200px);
 }

.pos4 {
     transform: rotateX(-20deg) rotateY(-45deg) translateX(100px);
 }

.pos5 {
    transform: rotateX(-20deg) rotateY(-45deg) translateX(100px) translateZ(100px);
}

.pos6 {
    transform: rotateX(-20deg) rotateY(-45deg) translateX(100px) translateZ(200px);
}

.pos7 {
    transform: rotateX(-20deg) rotateY(-45deg) translateX(200px) translateZ(0px);
}

.pos8 {
    transform: rotateX(-20deg) rotateY(-45deg) translateX(200px) translateZ(100px);
}

.pos9 {
    transform: rotateX(-20deg) rotateY(-45deg) translateX(200px) translateZ(200px);
}

/* Styling the different rows */

.first-row {
    transform: translateY(-94px);
}

/* .first-row > div > label{
    background-color: purple;
    box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
} */

.second-row {
    transform: translateY(-188px);
}

.first-row > div:hover > label{
    box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
    filter: contrast(200%);
}

.first-row > div > label {
    background-color: rgb(194, 126, 25);
}

.container:has(.first-row):has(.cube11):has(#cube11:not(:checked)) > .second-row .cube12,
.container:has(.first-row):has(.cube21):has(#cube21:not(:checked)) > .second-row .cube22,
.container:has(.first-row):has(.cube31):has(#cube31:not(:checked)) > .second-row .cube32,
.container:has(.first-row):has(.cube41):has(#cube41:not(:checked)) > .second-row .cube42,
.container:has(.first-row):has(.cube51):has(#cube51:not(:checked)) > .second-row .cube52,
.container:has(.first-row):has(.cube61):has(#cube61:not(:checked)) > .second-row .cube62,
.container:has(.first-row):has(.cube71):has(#cube71:not(:checked)) > .second-row .cube72,
.container:has(.first-row):has(.cube81):has(#cube81:not(:checked)) > .second-row .cube82,
.container:has(.first-row):has(.cube91):has(#cube91:not(:checked)) > .second-row .cube92{
    background-color: transparent;
    display: none;
}

.container:has(.first-row):has(.cube11):has(#cube11:checked) > .second-row .cube12,
.container:has(.first-row):has(.cube21):has(#cube21:checked) > .second-row .cube22,
.container:has(.first-row):has(.cube31):has(#cube31:checked) > .second-row .cube32,
.container:has(.first-row):has(.cube41):has(#cube41:checked) > .second-row .cube42,
.container:has(.first-row):has(.cube51):has(#cube51:checked) > .second-row .cube52,
.container:has(.first-row):has(.cube61):has(#cube61:checked) > .second-row .cube62,
.container:has(.first-row):has(.cube71):has(#cube71:checked) > .second-row .cube72,
.container:has(.first-row):has(.cube81):has(#cube81:checked) > .second-row .cube82,
.container:has(.first-row):has(.cube91):has(#cube91:checked) > .second-row .cube92 {
    /* pointer-events: all; */
    display: block;
}


.container:has(.first-row):has(.cube11):has(#cube11:checked) > .second-row .cube12:hover label,
.container:has(.first-row):has(.cube21):has(#cube21:checked) > .second-row .cube22:hover label,
.container:has(.first-row):has(.cube31):has(#cube31:checked) > .second-row .cube32:hover label,
.container:has(.first-row):has(.cube41):has(#cube41:checked) > .second-row .cube42:hover label,
.container:has(.first-row):has(.cube51):has(#cube51:checked) > .second-row .cube52:hover label,
.container:has(.first-row):has(.cube61):has(#cube61:checked) > .second-row .cube62:hover label,
.container:has(.first-row):has(.cube71):has(#cube71:checked) > .second-row .cube72:hover label,
.container:has(.first-row):has(.cube81):has(#cube81:checked) > .second-row .cube82:hover label,
.container:has(.first-row):has(.cube91):has(#cube91:checked) > .second-row .cube92:hover label {
    box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

/* PLAYGROUND */


body > div:first-of-type {
    width: 100px;
    height: 100px;
}


body > .playground{
    width: 100px;
    height: 100px;
    background-color: maroon;
}

.playground:has(div):has(div):has(div):has(.test:checked) label{
    background-color: purple;
}

.rotate {
    transform: rotateX(-20deg) rotateY(-85deg);
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.rotate div { 
    width: 50px;
    height: 50px;
    background-color: bisque;
}