/* BASIC STYLING */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ALLROUND STYLING */
body {
  background-color: #212121;
}

body > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

article {
  position: absolute;
  z-index: 999;
}

article > section > div {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

article > section > div input, form input {
  position: absolute;
  top: -1000em;
}

article > section > div label {
  width: 50px;
  height: 50px;
  position: absolute;
}

article > section > div input:checked ~ label {
  background-color: #4189CB;
  -webkit-box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.6);
}

/* Layers Control */
form {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

form > div {
  width: 50px;
  height: 50px;
  display: block;
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) rotateX(90deg) translateZ(20px);
          transform: rotateX(-20deg) rotateY(-45deg) rotateX(90deg) translateZ(20px);
  background-color: #4189CB;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
  opacity: .5;
}

form [for^="layer"] {
  width: 50px;
  height: 50px;
  display: block;
  background-color: #4189CB;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

form [for^="layer"]:nth-of-type(2) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) rotateX(90deg) translateZ(-10px);
          transform: rotateX(-20deg) rotateY(-45deg) rotateX(90deg) translateZ(-10px);
  opacity: .7;
}

form [for^="layer"]:nth-of-type(1) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) rotateX(90deg) translateZ(-40px);
          transform: rotateX(-20deg) rotateY(-45deg) rotateX(90deg) translateZ(-40px);
  opacity: .9;
}

form [for^="layer"]::after {
  content: '';
  width: 50px;
  height: 50px;
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: -1;
  position: relative;
}

form #layer2:checked ~ [for="layer2"]::after, form #layer2:checked ~ [for="layer3"]::after {
  -webkit-transform: translateX(100px) translateY(-100px);
          transform: translateX(100px) translateY(-100px);
  -webkit-transition: 1s;
  transition: 1s;
}

form #layer3:checked ~ [for="layer3"]::after {
  -webkit-transform: translateX(100px) translateY(-100px);
          transform: translateX(100px) translateY(-100px);
  -webkit-transition: 1s;
  transition: 1s;
}

body:has(form):has(#layer1:checked) > div > article > section:nth-of-type(1) {
  -webkit-transform: translateX(400px) translateY(-101px);
          transform: translateX(400px) translateY(-101px);
  -webkit-transition: 1s;
  transition: 1s;
}

body:has(form):has(#layer1:checked) > div > article > section:nth-of-type(2), body:has(form):has(#layer2:checked) > div > article > section:nth-of-type(2) {
  -webkit-transform: translateX(400px) translateY(-148px);
          transform: translateX(400px) translateY(-148px);
  -webkit-transition: 1s;
  transition: 1s;
}

body:has(form):has(#layer1:checked) > div > article > section:nth-of-type(3), body:has(form):has(#layer2:checked) > div > article > section:nth-of-type(3), body:has(form):has(#layer3:checked) > div > article > section:nth-of-type(3) {
  -webkit-transform: translateX(400px) translateY(-195px);
          transform: translateX(400px) translateY(-195px);
  -webkit-transition: 1s;
  transition: 1s;
}

/* Grid floor */
body > div:first-of-type > div:first-of-type {
  position: absolute;
  z-index: 0;
  width: 250px;
  height: 250px;
  background-image: linear-gradient(#878787 1px, transparent 1px), linear-gradient(90deg, #878787 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: center;
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) rotateX(90deg) translateZ(-50px);
          transform: rotateX(-20deg) rotateY(-45deg) rotateX(90deg) translateZ(-50px);
  border: 1px solid #878787;
}

/* 3D styling cubes */
article > section > div label:first-of-type {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  margin-top: -25px;
}

article > section > div label:nth-of-type(2) {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  margin-left: 25px;
}

article > section > div label:nth-of-type(3) {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  margin-top: 25px;
}

article > section > div label:nth-of-type(4) {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
  margin-left: -25px;
}

article > section > div label:nth-of-type(5) {
  -webkit-transform: translateZ(-25px);
          transform: translateZ(-25px);
}

article > section > div label:nth-of-type(6) {
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
}

article > section div:nth-of-type(1) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg);
          transform: rotateX(-20deg) rotateY(-45deg);
}

article > section div:nth-of-type(2) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateZ(50px);
          transform: rotateX(-20deg) rotateY(-45deg) translateZ(50px);
}

article > section div:nth-of-type(3) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateZ(100px);
          transform: rotateX(-20deg) rotateY(-45deg) translateZ(100px);
}

article > section div:nth-of-type(4) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateZ(150px);
          transform: rotateX(-20deg) rotateY(-45deg) translateZ(150px);
}

article > section div:nth-of-type(5) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateZ(200px);
          transform: rotateX(-20deg) rotateY(-45deg) translateZ(200px);
}

article > section div:nth-of-type(6) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(50px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(50px);
}

article > section div:nth-of-type(7) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(50px) translateZ(50px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(50px) translateZ(50px);
}

article > section div:nth-of-type(8) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(50px) translateZ(100px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(50px) translateZ(100px);
}

article > section div:nth-of-type(9) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(50px) translateZ(150px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(50px) translateZ(150px);
}

article > section div:nth-of-type(10) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(50px) translateZ(200px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(50px) translateZ(200px);
}

article > section div:nth-of-type(11) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(100px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(100px);
}

article > section div:nth-of-type(12) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(100px) translateZ(50px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(100px) translateZ(50px);
}

article > section div:nth-of-type(13) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(100px) translateZ(100px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(100px) translateZ(100px);
}

article > section div:nth-of-type(14) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(100px) translateZ(150px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(100px) translateZ(150px);
}

article > section div:nth-of-type(15) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(100px) translateZ(200px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(100px) translateZ(200px);
}

article > section div:nth-of-type(16) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(150px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(150px);
}

article > section div:nth-of-type(17) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(150px) translateZ(50px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(150px) translateZ(50px);
}

article > section div:nth-of-type(18) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(150px) translateZ(100px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(150px) translateZ(100px);
}

article > section div:nth-of-type(19) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(150px) translateZ(150px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(150px) translateZ(150px);
}

article > section div:nth-of-type(20) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(150px) translateZ(200px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(150px) translateZ(200px);
}

article > section div:nth-of-type(21) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(200px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(200px);
}

article > section div:nth-of-type(22) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(200px) translateZ(50px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(200px) translateZ(50px);
}

article > section div:nth-of-type(23) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(200px) translateZ(100px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(200px) translateZ(100px);
}

article > section div:nth-of-type(24) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(200px) translateZ(150px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(200px) translateZ(150px);
}

article > section div:nth-of-type(25) {
  -webkit-transform: rotateX(-20deg) rotateY(-45deg) translateX(200px) translateZ(200px);
          transform: rotateX(-20deg) rotateY(-45deg) translateX(200px) translateZ(200px);
}

/* Styling the different rows */
section:first-of-type {
  -webkit-transform: translateY(-54px) translateX(-17px);
          transform: translateY(-54px) translateX(-17px);
  -webkit-transition: 1s;
  transition: 1s;
}

section:nth-of-type(2) {
  -webkit-transform: translateY(-101px) translateX(-17px);
          transform: translateY(-101px) translateX(-17px);
  -webkit-transition: 1s;
  transition: 1s;
}

section:nth-of-type(3) {
  -webkit-transform: translateY(-148px) translateX(-17px);
          transform: translateY(-148px) translateX(-17px);
  -webkit-transition: 1s;
  transition: 1s;
}

section:first-of-type > div:hover > label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
  -webkit-filter: contrast(200%);
          filter: contrast(200%);
}

article:has(section:first-of-type):has(div:nth-of-type(1)):has(#cube1-1:not(:checked)) > section:nth-of-type(2) div:nth-of-type(1),
article:has(section:nth-of-type(2)):has(div:nth-of-type(1)):has(#cube2-1:not(:checked)) > section:nth-of-type(3) div:nth-of-type(1),
article:has(section:first-of-type):has(div:nth-of-type(1)):has(#cube1-1:not(:checked)) > section:nth-of-type(3) div:nth-of-type(1), article:has(section:first-of-type):has(div:nth-of-type(2)):has(#cube1-2:not(:checked)) > section:nth-of-type(2) div:nth-of-type(2),
article:has(section:nth-of-type(2)):has(div:nth-of-type(2)):has(#cube2-2:not(:checked)) > section:nth-of-type(3) div:nth-of-type(2),
article:has(section:first-of-type):has(div:nth-of-type(2)):has(#cube1-2:not(:checked)) > section:nth-of-type(3) div:nth-of-type(2), article:has(section:first-of-type):has(div:nth-of-type(3)):has(#cube1-3:not(:checked)) > section:nth-of-type(2) div:nth-of-type(3),
article:has(section:nth-of-type(2)):has(div:nth-of-type(3)):has(#cube2-3:not(:checked)) > section:nth-of-type(3) div:nth-of-type(3),
article:has(section:first-of-type):has(div:nth-of-type(3)):has(#cube1-3:not(:checked)) > section:nth-of-type(3) div:nth-of-type(3), article:has(section:first-of-type):has(div:nth-of-type(4)):has(#cube1-4:not(:checked)) > section:nth-of-type(2) div:nth-of-type(4),
article:has(section:nth-of-type(2)):has(div:nth-of-type(4)):has(#cube2-4:not(:checked)) > section:nth-of-type(3) div:nth-of-type(4),
article:has(section:first-of-type):has(div:nth-of-type(4)):has(#cube1-4:not(:checked)) > section:nth-of-type(3) div:nth-of-type(4), article:has(section:first-of-type):has(div:nth-of-type(5)):has(#cube1-5:not(:checked)) > section:nth-of-type(2) div:nth-of-type(5),
article:has(section:nth-of-type(2)):has(div:nth-of-type(5)):has(#cube2-5:not(:checked)) > section:nth-of-type(3) div:nth-of-type(5),
article:has(section:first-of-type):has(div:nth-of-type(5)):has(#cube1-5:not(:checked)) > section:nth-of-type(3) div:nth-of-type(5), article:has(section:first-of-type):has(div:nth-of-type(6)):has(#cube1-6:not(:checked)) > section:nth-of-type(2) div:nth-of-type(6),
article:has(section:nth-of-type(2)):has(div:nth-of-type(6)):has(#cube2-6:not(:checked)) > section:nth-of-type(3) div:nth-of-type(6),
article:has(section:first-of-type):has(div:nth-of-type(6)):has(#cube1-6:not(:checked)) > section:nth-of-type(3) div:nth-of-type(6), article:has(section:first-of-type):has(div:nth-of-type(7)):has(#cube1-7:not(:checked)) > section:nth-of-type(2) div:nth-of-type(7),
article:has(section:nth-of-type(2)):has(div:nth-of-type(7)):has(#cube2-7:not(:checked)) > section:nth-of-type(3) div:nth-of-type(7),
article:has(section:first-of-type):has(div:nth-of-type(7)):has(#cube1-7:not(:checked)) > section:nth-of-type(3) div:nth-of-type(7), article:has(section:first-of-type):has(div:nth-of-type(8)):has(#cube1-8:not(:checked)) > section:nth-of-type(2) div:nth-of-type(8),
article:has(section:nth-of-type(2)):has(div:nth-of-type(8)):has(#cube2-8:not(:checked)) > section:nth-of-type(3) div:nth-of-type(8),
article:has(section:first-of-type):has(div:nth-of-type(8)):has(#cube1-8:not(:checked)) > section:nth-of-type(3) div:nth-of-type(8), article:has(section:first-of-type):has(div:nth-of-type(9)):has(#cube1-9:not(:checked)) > section:nth-of-type(2) div:nth-of-type(9),
article:has(section:nth-of-type(2)):has(div:nth-of-type(9)):has(#cube2-9:not(:checked)) > section:nth-of-type(3) div:nth-of-type(9),
article:has(section:first-of-type):has(div:nth-of-type(9)):has(#cube1-9:not(:checked)) > section:nth-of-type(3) div:nth-of-type(9), article:has(section:first-of-type):has(div:nth-of-type(10)):has(#cube1-10:not(:checked)) > section:nth-of-type(2) div:nth-of-type(10),
article:has(section:nth-of-type(2)):has(div:nth-of-type(10)):has(#cube2-10:not(:checked)) > section:nth-of-type(3) div:nth-of-type(10),
article:has(section:first-of-type):has(div:nth-of-type(10)):has(#cube1-10:not(:checked)) > section:nth-of-type(3) div:nth-of-type(10), article:has(section:first-of-type):has(div:nth-of-type(11)):has(#cube1-11:not(:checked)) > section:nth-of-type(2) div:nth-of-type(11),
article:has(section:nth-of-type(2)):has(div:nth-of-type(11)):has(#cube2-11:not(:checked)) > section:nth-of-type(3) div:nth-of-type(11),
article:has(section:first-of-type):has(div:nth-of-type(11)):has(#cube1-11:not(:checked)) > section:nth-of-type(3) div:nth-of-type(11), article:has(section:first-of-type):has(div:nth-of-type(12)):has(#cube1-12:not(:checked)) > section:nth-of-type(2) div:nth-of-type(12),
article:has(section:nth-of-type(2)):has(div:nth-of-type(12)):has(#cube2-12:not(:checked)) > section:nth-of-type(3) div:nth-of-type(12),
article:has(section:first-of-type):has(div:nth-of-type(12)):has(#cube1-12:not(:checked)) > section:nth-of-type(3) div:nth-of-type(12), article:has(section:first-of-type):has(div:nth-of-type(13)):has(#cube1-13:not(:checked)) > section:nth-of-type(2) div:nth-of-type(13),
article:has(section:nth-of-type(2)):has(div:nth-of-type(13)):has(#cube2-13:not(:checked)) > section:nth-of-type(3) div:nth-of-type(13),
article:has(section:first-of-type):has(div:nth-of-type(13)):has(#cube1-13:not(:checked)) > section:nth-of-type(3) div:nth-of-type(13), article:has(section:first-of-type):has(div:nth-of-type(14)):has(#cube1-14:not(:checked)) > section:nth-of-type(2) div:nth-of-type(14),
article:has(section:nth-of-type(2)):has(div:nth-of-type(14)):has(#cube2-14:not(:checked)) > section:nth-of-type(3) div:nth-of-type(14),
article:has(section:first-of-type):has(div:nth-of-type(14)):has(#cube1-14:not(:checked)) > section:nth-of-type(3) div:nth-of-type(14), article:has(section:first-of-type):has(div:nth-of-type(15)):has(#cube1-15:not(:checked)) > section:nth-of-type(2) div:nth-of-type(15),
article:has(section:nth-of-type(2)):has(div:nth-of-type(15)):has(#cube2-15:not(:checked)) > section:nth-of-type(3) div:nth-of-type(15),
article:has(section:first-of-type):has(div:nth-of-type(15)):has(#cube1-15:not(:checked)) > section:nth-of-type(3) div:nth-of-type(15), article:has(section:first-of-type):has(div:nth-of-type(16)):has(#cube1-16:not(:checked)) > section:nth-of-type(2) div:nth-of-type(16),
article:has(section:nth-of-type(2)):has(div:nth-of-type(16)):has(#cube2-16:not(:checked)) > section:nth-of-type(3) div:nth-of-type(16),
article:has(section:first-of-type):has(div:nth-of-type(16)):has(#cube1-16:not(:checked)) > section:nth-of-type(3) div:nth-of-type(16), article:has(section:first-of-type):has(div:nth-of-type(17)):has(#cube1-17:not(:checked)) > section:nth-of-type(2) div:nth-of-type(17),
article:has(section:nth-of-type(2)):has(div:nth-of-type(17)):has(#cube2-17:not(:checked)) > section:nth-of-type(3) div:nth-of-type(17),
article:has(section:first-of-type):has(div:nth-of-type(17)):has(#cube1-17:not(:checked)) > section:nth-of-type(3) div:nth-of-type(17), article:has(section:first-of-type):has(div:nth-of-type(18)):has(#cube1-18:not(:checked)) > section:nth-of-type(2) div:nth-of-type(18),
article:has(section:nth-of-type(2)):has(div:nth-of-type(18)):has(#cube2-18:not(:checked)) > section:nth-of-type(3) div:nth-of-type(18),
article:has(section:first-of-type):has(div:nth-of-type(18)):has(#cube1-18:not(:checked)) > section:nth-of-type(3) div:nth-of-type(18), article:has(section:first-of-type):has(div:nth-of-type(19)):has(#cube1-19:not(:checked)) > section:nth-of-type(2) div:nth-of-type(19),
article:has(section:nth-of-type(2)):has(div:nth-of-type(19)):has(#cube2-19:not(:checked)) > section:nth-of-type(3) div:nth-of-type(19),
article:has(section:first-of-type):has(div:nth-of-type(19)):has(#cube1-19:not(:checked)) > section:nth-of-type(3) div:nth-of-type(19), article:has(section:first-of-type):has(div:nth-of-type(20)):has(#cube1-20:not(:checked)) > section:nth-of-type(2) div:nth-of-type(20),
article:has(section:nth-of-type(2)):has(div:nth-of-type(20)):has(#cube2-20:not(:checked)) > section:nth-of-type(3) div:nth-of-type(20),
article:has(section:first-of-type):has(div:nth-of-type(20)):has(#cube1-20:not(:checked)) > section:nth-of-type(3) div:nth-of-type(20), article:has(section:first-of-type):has(div:nth-of-type(21)):has(#cube1-21:not(:checked)) > section:nth-of-type(2) div:nth-of-type(21),
article:has(section:nth-of-type(2)):has(div:nth-of-type(21)):has(#cube2-21:not(:checked)) > section:nth-of-type(3) div:nth-of-type(21),
article:has(section:first-of-type):has(div:nth-of-type(21)):has(#cube1-21:not(:checked)) > section:nth-of-type(3) div:nth-of-type(21), article:has(section:first-of-type):has(div:nth-of-type(22)):has(#cube1-22:not(:checked)) > section:nth-of-type(2) div:nth-of-type(22),
article:has(section:nth-of-type(2)):has(div:nth-of-type(22)):has(#cube2-22:not(:checked)) > section:nth-of-type(3) div:nth-of-type(22),
article:has(section:first-of-type):has(div:nth-of-type(22)):has(#cube1-22:not(:checked)) > section:nth-of-type(3) div:nth-of-type(22), article:has(section:first-of-type):has(div:nth-of-type(23)):has(#cube1-23:not(:checked)) > section:nth-of-type(2) div:nth-of-type(23),
article:has(section:nth-of-type(2)):has(div:nth-of-type(23)):has(#cube2-23:not(:checked)) > section:nth-of-type(3) div:nth-of-type(23),
article:has(section:first-of-type):has(div:nth-of-type(23)):has(#cube1-23:not(:checked)) > section:nth-of-type(3) div:nth-of-type(23), article:has(section:first-of-type):has(div:nth-of-type(24)):has(#cube1-24:not(:checked)) > section:nth-of-type(2) div:nth-of-type(24),
article:has(section:nth-of-type(2)):has(div:nth-of-type(24)):has(#cube2-24:not(:checked)) > section:nth-of-type(3) div:nth-of-type(24),
article:has(section:first-of-type):has(div:nth-of-type(24)):has(#cube1-24:not(:checked)) > section:nth-of-type(3) div:nth-of-type(24), article:has(section:first-of-type):has(div:nth-of-type(25)):has(#cube1-25:not(:checked)) > section:nth-of-type(2) div:nth-of-type(25),
article:has(section:nth-of-type(2)):has(div:nth-of-type(25)):has(#cube2-25:not(:checked)) > section:nth-of-type(3) div:nth-of-type(25),
article:has(section:first-of-type):has(div:nth-of-type(25)):has(#cube1-25:not(:checked)) > section:nth-of-type(3) div:nth-of-type(25) {
  display: none !important;
}

article:has(section:first-of-type):has(div:nth-of-type(1)):has(#cube1-1:checked) > section:nth-of-type(2) div:nth-of-type(1),
article:has(section:nth-of-type(2)):has(div:nth-of-type(1)):has(#cube2-1:checked) > section:nth-of-type(3) div:nth-of-type(1),
article:has(section:first-of-type):has(div:nth-of-type(1)):has(#cube1-1:checked) > section:nth-of-type(3) div:nth-of-type(1), article:has(section:first-of-type):has(div:nth-of-type(2)):has(#cube1-2:checked) > section:nth-of-type(2) div:nth-of-type(2),
article:has(section:nth-of-type(2)):has(div:nth-of-type(2)):has(#cube2-2:checked) > section:nth-of-type(3) div:nth-of-type(2),
article:has(section:first-of-type):has(div:nth-of-type(2)):has(#cube1-2:checked) > section:nth-of-type(3) div:nth-of-type(2), article:has(section:first-of-type):has(div:nth-of-type(3)):has(#cube1-3:checked) > section:nth-of-type(2) div:nth-of-type(3),
article:has(section:nth-of-type(2)):has(div:nth-of-type(3)):has(#cube2-3:checked) > section:nth-of-type(3) div:nth-of-type(3),
article:has(section:first-of-type):has(div:nth-of-type(3)):has(#cube1-3:checked) > section:nth-of-type(3) div:nth-of-type(3), article:has(section:first-of-type):has(div:nth-of-type(4)):has(#cube1-4:checked) > section:nth-of-type(2) div:nth-of-type(4),
article:has(section:nth-of-type(2)):has(div:nth-of-type(4)):has(#cube2-4:checked) > section:nth-of-type(3) div:nth-of-type(4),
article:has(section:first-of-type):has(div:nth-of-type(4)):has(#cube1-4:checked) > section:nth-of-type(3) div:nth-of-type(4), article:has(section:first-of-type):has(div:nth-of-type(5)):has(#cube1-5:checked) > section:nth-of-type(2) div:nth-of-type(5),
article:has(section:nth-of-type(2)):has(div:nth-of-type(5)):has(#cube2-5:checked) > section:nth-of-type(3) div:nth-of-type(5),
article:has(section:first-of-type):has(div:nth-of-type(5)):has(#cube1-5:checked) > section:nth-of-type(3) div:nth-of-type(5), article:has(section:first-of-type):has(div:nth-of-type(6)):has(#cube1-6:checked) > section:nth-of-type(2) div:nth-of-type(6),
article:has(section:nth-of-type(2)):has(div:nth-of-type(6)):has(#cube2-6:checked) > section:nth-of-type(3) div:nth-of-type(6),
article:has(section:first-of-type):has(div:nth-of-type(6)):has(#cube1-6:checked) > section:nth-of-type(3) div:nth-of-type(6), article:has(section:first-of-type):has(div:nth-of-type(7)):has(#cube1-7:checked) > section:nth-of-type(2) div:nth-of-type(7),
article:has(section:nth-of-type(2)):has(div:nth-of-type(7)):has(#cube2-7:checked) > section:nth-of-type(3) div:nth-of-type(7),
article:has(section:first-of-type):has(div:nth-of-type(7)):has(#cube1-7:checked) > section:nth-of-type(3) div:nth-of-type(7), article:has(section:first-of-type):has(div:nth-of-type(8)):has(#cube1-8:checked) > section:nth-of-type(2) div:nth-of-type(8),
article:has(section:nth-of-type(2)):has(div:nth-of-type(8)):has(#cube2-8:checked) > section:nth-of-type(3) div:nth-of-type(8),
article:has(section:first-of-type):has(div:nth-of-type(8)):has(#cube1-8:checked) > section:nth-of-type(3) div:nth-of-type(8), article:has(section:first-of-type):has(div:nth-of-type(9)):has(#cube1-9:checked) > section:nth-of-type(2) div:nth-of-type(9),
article:has(section:nth-of-type(2)):has(div:nth-of-type(9)):has(#cube2-9:checked) > section:nth-of-type(3) div:nth-of-type(9),
article:has(section:first-of-type):has(div:nth-of-type(9)):has(#cube1-9:checked) > section:nth-of-type(3) div:nth-of-type(9), article:has(section:first-of-type):has(div:nth-of-type(10)):has(#cube1-10:checked) > section:nth-of-type(2) div:nth-of-type(10),
article:has(section:nth-of-type(2)):has(div:nth-of-type(10)):has(#cube2-10:checked) > section:nth-of-type(3) div:nth-of-type(10),
article:has(section:first-of-type):has(div:nth-of-type(10)):has(#cube1-10:checked) > section:nth-of-type(3) div:nth-of-type(10), article:has(section:first-of-type):has(div:nth-of-type(11)):has(#cube1-11:checked) > section:nth-of-type(2) div:nth-of-type(11),
article:has(section:nth-of-type(2)):has(div:nth-of-type(11)):has(#cube2-11:checked) > section:nth-of-type(3) div:nth-of-type(11),
article:has(section:first-of-type):has(div:nth-of-type(11)):has(#cube1-11:checked) > section:nth-of-type(3) div:nth-of-type(11), article:has(section:first-of-type):has(div:nth-of-type(12)):has(#cube1-12:checked) > section:nth-of-type(2) div:nth-of-type(12),
article:has(section:nth-of-type(2)):has(div:nth-of-type(12)):has(#cube2-12:checked) > section:nth-of-type(3) div:nth-of-type(12),
article:has(section:first-of-type):has(div:nth-of-type(12)):has(#cube1-12:checked) > section:nth-of-type(3) div:nth-of-type(12), article:has(section:first-of-type):has(div:nth-of-type(13)):has(#cube1-13:checked) > section:nth-of-type(2) div:nth-of-type(13),
article:has(section:nth-of-type(2)):has(div:nth-of-type(13)):has(#cube2-13:checked) > section:nth-of-type(3) div:nth-of-type(13),
article:has(section:first-of-type):has(div:nth-of-type(13)):has(#cube1-13:checked) > section:nth-of-type(3) div:nth-of-type(13), article:has(section:first-of-type):has(div:nth-of-type(14)):has(#cube1-14:checked) > section:nth-of-type(2) div:nth-of-type(14),
article:has(section:nth-of-type(2)):has(div:nth-of-type(14)):has(#cube2-14:checked) > section:nth-of-type(3) div:nth-of-type(14),
article:has(section:first-of-type):has(div:nth-of-type(14)):has(#cube1-14:checked) > section:nth-of-type(3) div:nth-of-type(14), article:has(section:first-of-type):has(div:nth-of-type(15)):has(#cube1-15:checked) > section:nth-of-type(2) div:nth-of-type(15),
article:has(section:nth-of-type(2)):has(div:nth-of-type(15)):has(#cube2-15:checked) > section:nth-of-type(3) div:nth-of-type(15),
article:has(section:first-of-type):has(div:nth-of-type(15)):has(#cube1-15:checked) > section:nth-of-type(3) div:nth-of-type(15), article:has(section:first-of-type):has(div:nth-of-type(16)):has(#cube1-16:checked) > section:nth-of-type(2) div:nth-of-type(16),
article:has(section:nth-of-type(2)):has(div:nth-of-type(16)):has(#cube2-16:checked) > section:nth-of-type(3) div:nth-of-type(16),
article:has(section:first-of-type):has(div:nth-of-type(16)):has(#cube1-16:checked) > section:nth-of-type(3) div:nth-of-type(16), article:has(section:first-of-type):has(div:nth-of-type(17)):has(#cube1-17:checked) > section:nth-of-type(2) div:nth-of-type(17),
article:has(section:nth-of-type(2)):has(div:nth-of-type(17)):has(#cube2-17:checked) > section:nth-of-type(3) div:nth-of-type(17),
article:has(section:first-of-type):has(div:nth-of-type(17)):has(#cube1-17:checked) > section:nth-of-type(3) div:nth-of-type(17), article:has(section:first-of-type):has(div:nth-of-type(18)):has(#cube1-18:checked) > section:nth-of-type(2) div:nth-of-type(18),
article:has(section:nth-of-type(2)):has(div:nth-of-type(18)):has(#cube2-18:checked) > section:nth-of-type(3) div:nth-of-type(18),
article:has(section:first-of-type):has(div:nth-of-type(18)):has(#cube1-18:checked) > section:nth-of-type(3) div:nth-of-type(18), article:has(section:first-of-type):has(div:nth-of-type(19)):has(#cube1-19:checked) > section:nth-of-type(2) div:nth-of-type(19),
article:has(section:nth-of-type(2)):has(div:nth-of-type(19)):has(#cube2-19:checked) > section:nth-of-type(3) div:nth-of-type(19),
article:has(section:first-of-type):has(div:nth-of-type(19)):has(#cube1-19:checked) > section:nth-of-type(3) div:nth-of-type(19), article:has(section:first-of-type):has(div:nth-of-type(20)):has(#cube1-20:checked) > section:nth-of-type(2) div:nth-of-type(20),
article:has(section:nth-of-type(2)):has(div:nth-of-type(20)):has(#cube2-20:checked) > section:nth-of-type(3) div:nth-of-type(20),
article:has(section:first-of-type):has(div:nth-of-type(20)):has(#cube1-20:checked) > section:nth-of-type(3) div:nth-of-type(20), article:has(section:first-of-type):has(div:nth-of-type(21)):has(#cube1-21:checked) > section:nth-of-type(2) div:nth-of-type(21),
article:has(section:nth-of-type(2)):has(div:nth-of-type(21)):has(#cube2-21:checked) > section:nth-of-type(3) div:nth-of-type(21),
article:has(section:first-of-type):has(div:nth-of-type(21)):has(#cube1-21:checked) > section:nth-of-type(3) div:nth-of-type(21), article:has(section:first-of-type):has(div:nth-of-type(22)):has(#cube1-22:checked) > section:nth-of-type(2) div:nth-of-type(22),
article:has(section:nth-of-type(2)):has(div:nth-of-type(22)):has(#cube2-22:checked) > section:nth-of-type(3) div:nth-of-type(22),
article:has(section:first-of-type):has(div:nth-of-type(22)):has(#cube1-22:checked) > section:nth-of-type(3) div:nth-of-type(22), article:has(section:first-of-type):has(div:nth-of-type(23)):has(#cube1-23:checked) > section:nth-of-type(2) div:nth-of-type(23),
article:has(section:nth-of-type(2)):has(div:nth-of-type(23)):has(#cube2-23:checked) > section:nth-of-type(3) div:nth-of-type(23),
article:has(section:first-of-type):has(div:nth-of-type(23)):has(#cube1-23:checked) > section:nth-of-type(3) div:nth-of-type(23), article:has(section:first-of-type):has(div:nth-of-type(24)):has(#cube1-24:checked) > section:nth-of-type(2) div:nth-of-type(24),
article:has(section:nth-of-type(2)):has(div:nth-of-type(24)):has(#cube2-24:checked) > section:nth-of-type(3) div:nth-of-type(24),
article:has(section:first-of-type):has(div:nth-of-type(24)):has(#cube1-24:checked) > section:nth-of-type(3) div:nth-of-type(24), article:has(section:first-of-type):has(div:nth-of-type(25)):has(#cube1-25:checked) > section:nth-of-type(2) div:nth-of-type(25),
article:has(section:nth-of-type(2)):has(div:nth-of-type(25)):has(#cube2-25:checked) > section:nth-of-type(3) div:nth-of-type(25),
article:has(section:first-of-type):has(div:nth-of-type(25)):has(#cube1-25:checked) > section:nth-of-type(3) div:nth-of-type(25) {
  display: block;
}

article:has(section:first-of-type):has(div:nth-of-type(1)):has(#cube1-1:checked) > section:nth-of-type(2) div:nth-of-type(1):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(1)):has(#cube2-1:checked) > section:nth-of-type(3) div:nth-of-type(1):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(2)):has(#cube1-2:checked) > section:nth-of-type(2) div:nth-of-type(2):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(2)):has(#cube2-2:checked) > section:nth-of-type(3) div:nth-of-type(2):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(3)):has(#cube1-3:checked) > section:nth-of-type(2) div:nth-of-type(3):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(3)):has(#cube2-3:checked) > section:nth-of-type(3) div:nth-of-type(3):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(4)):has(#cube1-4:checked) > section:nth-of-type(2) div:nth-of-type(4):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(4)):has(#cube2-4:checked) > section:nth-of-type(3) div:nth-of-type(4):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(5)):has(#cube1-5:checked) > section:nth-of-type(2) div:nth-of-type(5):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(5)):has(#cube2-5:checked) > section:nth-of-type(3) div:nth-of-type(5):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(6)):has(#cube1-6:checked) > section:nth-of-type(2) div:nth-of-type(6):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(6)):has(#cube2-6:checked) > section:nth-of-type(3) div:nth-of-type(6):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(7)):has(#cube1-7:checked) > section:nth-of-type(2) div:nth-of-type(7):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(7)):has(#cube2-7:checked) > section:nth-of-type(3) div:nth-of-type(7):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(8)):has(#cube1-8:checked) > section:nth-of-type(2) div:nth-of-type(8):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(8)):has(#cube2-8:checked) > section:nth-of-type(3) div:nth-of-type(8):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(9)):has(#cube1-9:checked) > section:nth-of-type(2) div:nth-of-type(9):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(9)):has(#cube2-9:checked) > section:nth-of-type(3) div:nth-of-type(9):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(10)):has(#cube1-10:checked) > section:nth-of-type(2) div:nth-of-type(10):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(10)):has(#cube2-10:checked) > section:nth-of-type(3) div:nth-of-type(10):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(11)):has(#cube1-11:checked) > section:nth-of-type(2) div:nth-of-type(11):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(11)):has(#cube2-11:checked) > section:nth-of-type(3) div:nth-of-type(11):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(12)):has(#cube1-12:checked) > section:nth-of-type(2) div:nth-of-type(12):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(12)):has(#cube2-12:checked) > section:nth-of-type(3) div:nth-of-type(12):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(13)):has(#cube1-13:checked) > section:nth-of-type(2) div:nth-of-type(13):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(13)):has(#cube2-13:checked) > section:nth-of-type(3) div:nth-of-type(13):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(14)):has(#cube1-14:checked) > section:nth-of-type(2) div:nth-of-type(14):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(14)):has(#cube2-14:checked) > section:nth-of-type(3) div:nth-of-type(14):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(15)):has(#cube1-15:checked) > section:nth-of-type(2) div:nth-of-type(15):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(15)):has(#cube2-15:checked) > section:nth-of-type(3) div:nth-of-type(15):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(16)):has(#cube1-16:checked) > section:nth-of-type(2) div:nth-of-type(16):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(16)):has(#cube2-16:checked) > section:nth-of-type(3) div:nth-of-type(16):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(17)):has(#cube1-17:checked) > section:nth-of-type(2) div:nth-of-type(17):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(17)):has(#cube2-17:checked) > section:nth-of-type(3) div:nth-of-type(17):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(18)):has(#cube1-18:checked) > section:nth-of-type(2) div:nth-of-type(18):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(18)):has(#cube2-18:checked) > section:nth-of-type(3) div:nth-of-type(18):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(19)):has(#cube1-19:checked) > section:nth-of-type(2) div:nth-of-type(19):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(19)):has(#cube2-19:checked) > section:nth-of-type(3) div:nth-of-type(19):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(20)):has(#cube1-20:checked) > section:nth-of-type(2) div:nth-of-type(20):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(20)):has(#cube2-20:checked) > section:nth-of-type(3) div:nth-of-type(20):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(21)):has(#cube1-21:checked) > section:nth-of-type(2) div:nth-of-type(21):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(21)):has(#cube2-21:checked) > section:nth-of-type(3) div:nth-of-type(21):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(22)):has(#cube1-22:checked) > section:nth-of-type(2) div:nth-of-type(22):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(22)):has(#cube2-22:checked) > section:nth-of-type(3) div:nth-of-type(22):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(23)):has(#cube1-23:checked) > section:nth-of-type(2) div:nth-of-type(23):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(23)):has(#cube2-23:checked) > section:nth-of-type(3) div:nth-of-type(23):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(24)):has(#cube1-24:checked) > section:nth-of-type(2) div:nth-of-type(24):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(24)):has(#cube2-24:checked) > section:nth-of-type(3) div:nth-of-type(24):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}

article:has(section:first-of-type):has(div:nth-of-type(25)):has(#cube1-25:checked) > section:nth-of-type(2) div:nth-of-type(25):hover label,
article:has(section:nth-of-type(2)):has(div:nth-of-type(25)):has(#cube2-25:checked) > section:nth-of-type(3) div:nth-of-type(25):hover label {
  -webkit-box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
          box-shadow: inset 0px 0px 30px rgba(124, 224, 255, 0.4);
}
/*# sourceMappingURL=style.css.map */